$color-button: transparent;

.button {
  margin: 40% auto;
  border-radius: 500px;
  background-color: $color-button;
  max-height: 10%;
  width: 60%;
  padding: 1rem;
  color: #fff;

  font-family: "open sans", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 3px 3px 15px 1px rgba(255, 255, 255, 0.5), 0 0 10px rgba(0, 0, 0, 0.25);

  transition: opacity .2s ease-in-out;

  &:active {
    box-shadow: none;
    transition: all 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
